/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/9272435/pexels-photo-9272435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    color: #fff;
}

header {
    text-align: center;
    padding: 5% 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 145px;
    height: auto;
    border-radius: 50%;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-wrap: wrap; /* Wrap items on small screens */
    transition: 1s;
    
}

nav ul li {
    display: inline-block;
    margin: 25px;
    position: relative; /* Adicione esta linha */
    top: -100px; /* Ajuste este valor conforme necessário */
    left: 50px;
}


nav ul li.reading a {
    color: rgb(163, 130, 255);
    transition: 1s;
}

nav ul li.home a:hover {
    color: rgb(252, 237, 126);
    font-size: 40px;
    transition: 1s;
}

nav ul li a {
    color: rgb(252, 237, 126);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 1s, border-color 1s;
    font-family: 'Barlow-Medium', 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 35px;
    transition: 1s;
    
}

nav ul li a:hover {
    font-size: 40px;
    transition: 1s;
    color: rgb(252, 237, 126);
    text-decoration:underline;
    font-weight: bolder;
    
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    header {
        padding: 10% 0;
    }
    
    .logo {
        top: 10px;
        left: 10px;
    }
    
    .logo img{
        width: 80px;
    }

    nav ul {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav ul li {
        display: block;
        margin: 30px auto;
    }

    /* Override background image for mobile */
    html, body {
        background-image: url('https://images.pexels.com/photos/9272435/pexels-photo-9272435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-size: contain;
        background-position: center;
    }
}

/* Adjust position of links for screens wider than 768px */
@media screen and (min-width: 769px) {
    nav ul {
        top: 30px; /* Move the navigation container down from the top */
    }
}
