/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/1672813/pexels-photo-1672813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    color: #fff;
    background-image:fixed;
}

header {
    text-align: center;
    padding: 5% 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 145px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-wrap: wrap; /* Wrap items on small screens */
    transition: 1s;
    
}

nav ul li {
    display: inline-block;
    margin: 25px;
    position: relative; /* Adicione esta linha */
    top: -100px; /* Ajuste este valor conforme necessário */
    left: 50px;
}


nav ul li.watching a {
    color: rgb(163, 130, 255);
    transition: 1s;
}



nav ul li a {
    color: rgb(252, 237, 126);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 1s, border-color 1s;
    font-family: 'Barlow-Medium', 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 35px;
    transition: 1s;
    
}

nav ul li a:hover {
    font-size: 40px;
    transition: 1s;
    color: rgb(252, 237, 126);
    text-decoration:underline;
    font-weight: bolder;
    
}


.video {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.video2 {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}


/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    header {
        padding: 10% 0;
    }
    
    .logo {
        top: 10px;
        left: 10px;
    }
    
    .logo img {
        width: 80px;
    }

    nav ul {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav ul li {
        display: block;
        margin: 30px auto;
    }

    /* Override background image for mobile */
    html, body {
        background-image: url('https://images.pexels.com/photos/1672813/pexels-photo-1672813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: contain;
        background-position: center;
    }

    .video {
        width: 90%; /* Adjust video width */
        height: 300px;
        border-radius: 10px;
        margin-top: 350px;
        margin-left: 20px;
    }

    .video2 {
        width: 90%; /* Adjust video width */
        height: 300px;
        border-radius: 10px;
        margin-top: 70px;
        margin-left: 20px;
        margin-bottom: 20px  
    }
}
